html,body{
    scroll-behavior: smooth;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family:'Poppins';
}

:root{
    --prmary-color:#F25F3A;
    --secondary-color:#242D52;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 50px;
    width: 100%;
}

nav a{
    text-decoration: none;
    color: black;
}
.icons{
    display:none;
}

nav ul{
    display:flex;
    gap: 30px;
    list-style: none;
    color: var(--secondary-color);
}

button{
    background-color:#F25F3A;
    border-radius: 30px;
    padding: 14px 35px;
    color: white;
    border: none;
    box-shadow: 5px 5px 10px rgb(209, 50, 10);
}

main{
    display: flex;
    align-items: center;
    gap: 50px;
    padding: 30px 50px 50px;
}

.maindiv1{
    width:45%
}
main img{
    width: 100%;
}

h1{
    font-size: 50px;
    font-weight: 700px;
    color: var(--secondary-color);
}
.section1 h2{
    font-size:16px;
    color: #242D52;
    margin-bottom: 10px;
}

main p{
    color: #9E95AD;
    margin-bottom: 50px;
}
p{
    color: #9E95AD;

}

.section1{
    display: flex;
    justify-content: space-between;
    padding: 30px 50px;
    gap: 100px;
}

.section1 h1{
    font-size: 38px;
}

.divs{
    width:122%;
}

.button{
    background-color:#F25F3A;
    border-radius: 30px;
    padding: 8px 25px;
    color: white;
    border: none;    
}
.chi{
    display:flex;
    align-items: center;
    gap: 30px;
    
}
.one > p{
    margin-left: 100px;
    margin-bottom:50px;
}

.imagediv{
    background-color: #F25F3A;
    display: flex;
    justify-content: space-between;
    padding: 50px 100px;
    color:white;
}
.new{
    background-color: #fff;
    color: #F25F3A;
}

.imagediv h1{
    color: white;
    font-size:35px;
}

footer{
    background-color: #1D1E25;
    display: flex;
    justify-content: space-between;
    padding: 50px 50px;
}
.Home{
    display: flex;
    gap: 150px;
}

footer a, footer p{
    color: white;
    text-decoration: none;
}
footer li{
    list-style:none;
    padding: 10px
}
footer img{
    filter: invert();
}
input{
    padding: 10px;
    border-radius: 30px;
}

.center{
    text-align: center;
    padding: 100px 0px 100px;
}
.cruise{
    display: flex;
    gap: 30px;
    text-align: center;
}
.cruisebutton{
    text-align: center;
    margin: 100px 0px;
}

.two img{
    width: 25% !important;
    margin: 0 auto;
    
}
.two p{
    font-size: 14px;
}

.two div{
    background-color: #FAFAFA;
    padding:50px 20px 20px;
    margin-top:-40px;
}
.owl-nav{
    display:none;
}
.owl-dots{
    display: flex;
    justify-content: center;
    align-items:center;
    gap: 7px;
    margin-top:10px;
}
.owl-dot{
    background-color: #F25F3A;
    padding:5px;
    border-radius:50px;
}
.owl-dot.active{
    background-color: #9095a7;
}
@media screen and (max-width: 1120px){
    main h1{
        font-size: 40px;
    }
}
@media screen and (max-width: 992px){
    nav button{
        padding: 14px 20px;
    }
    nav ul{
        gap: 20px;
    }
    main h1{
        font-size: 30px;
    }
    main p{
        font-size:14px;
    }
    .section1{
        gap: 20px;
    }
    .Home{
        gap:20px;
    }
    nav a{
        font-size: 14px;
    }
}

@media screen and (max-width: 768px){
    nav button{
        display:none;
    }
    
    .maindiv1{
        width:80%;
    }
    main h1, .section1 h1{
        font-size:20px;
    }
    .section1 p{
        font-size:14px;
    }
    .sectiondiv1{
        width:100%;
    }
    footer{
        flex-direction:column-reverse;
        text-align:center;      
    }
    .imagediv h1{
        font-size:30px;
    }
    button{
        padding:16px 15px;
    }
    .imagediv{
        padding: 50px 50px;
    }
    .Home{
        margin: 40px auto;
    }
    nav{
        padding: 50px 10px;
    }
   
}
@media screen and (max-width:576px){
    main{
        flex-direction: column-reverse;
        text-align:center;
    }
    .section1{
        flex-direction:column;
    }
    .sectiondiv1{
        text-align:center;
        margin-bottom: 20px;
   }
   .sectiondiv1 h1, main h1, .footerdiv{
    padding-bottom:10px
   }
    .maindiv1{
        width:90%;
    }
    .imagediv h1{
        font-size:26px;
    }
    .one > p{
        margin:0 0 50px 0;
        line-height: 30px;
    }
    .chi{
        background-color: pink;
        border-radius:50px 0 0 50px;
        width:99%;
    }

    .icons{
        display: block;
        font-size:30px;
        margin:0;
    }
    nav ul{
        position:fixed;
         flex-direction: column;
        padding:30px 70px;
        border-radius: 10px;
        background-color:var(--prmary-color);
        top:50%;
        left: 50%;
        transform: translate(-50%,-50%); 
        transition: .5s;
        text-align: center;
        box-shadow: 10px 10px 7000px gray, -10px -10px 700px gray;

     }
     .ri-close-line{
        display:none; 
    }
    nav ul a{
        color:white;
    }
    

}
@media screen and (max-width:375px){
    .imagediv h1{
        font-size: 20px;
    }
    .imagediv{
        padding:50px 15px
    }
    button{
        padding:10px 10px;
    }
    .center{
        font-size:30px;
    }
}